*{
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../img/body-bg.png);
	background-repeat: repeat-x;
}
.Header{
	position: relative;
	margin: auto;
	max-width: 950px;

}
.Header img{
	position: absolute;
	top: 40px;
	
}
.button{
	position: absolute;
	margin: auto;
	width: 100%;
	top: 120px;
	left: 209px;
}
button{
	font-size: 18px;
	padding: 5px 10px;
}